body {
  margin: 3px;
}
.baseFilterArea {
  background-color: #ffffff;
  border: 1px solid #999999;
  position: relative;
  height: 350px;
  padding: 10px;
}
.batchArea {
  background-color: #eeeeee;
  padding: 10px;
  height: 350px;
  border: 1px solid #999999;
  border-left: 0;
}
.orderListArea {
  border: 1px solid #999999;
  padding: 10px 11px 10px 10px;
}
.batchOnAsin {
  background-color: #eeeeee;
  border-top: 1px solid #999999;
}
.baseFilterArea h4,
.batchArea h4 {
  color: #f89406;
}
.baseFilterArea .arrow {
  content: '';
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #ffffff;
  border-left-color: #ffffff;
  position: absolute;
  top: 90px;
  right: -8px;
}
